.jsquestions{
    font-family: 'Love Ya Like A Sister', cursive;
    color: black;    
    font-size: 40px;
}
.header{
   font-family: 'Fascinate Inline', cursive;
   color: brown;
   text-align: center;
   font-size: 90px;

}